# Add any directories, files, or patterns you don't want to be tracked by version control -Harry
# Compiled files
*.tfstate
*.tfstate.backup
*.retry
*.swap
*.bak
*.terraform*
# This is vars commented temporarily purpose
*.tfvars
*.secret

# Module directory
*temp*.sh
/venv
.venv
.DS_Store
*/.DS_Store
