#!/usr/bin/env bash
# This is your Project config file

SOURCE_REPO_NAME="msend"
SOURCE_REPO_URL="git@bitbucket.org:DevOps-Expert/msend.git"

#DEST_REPO_NAME=msend
#DEST_REPO_URL="git@github.com:harry41/msend.git"

#ENCRYPT_FILES=(
#msend
#tools/mlog
#)

#EXCLUDE_RULES="${PROJECT_CONFIG_DIR}/${PROJECT_NAME}/exclude_rules.txt"
#LATEST_COMMIT_MSG=""

verbose=true

declare -A UTILITY_APPS=(
["msend"]="git@github.com:HarryTheDevOpsGuy/msend.git"
["mcert"]="git@github.com:HarryTheDevOpsGuy/mcert.git"
["mlog"]="git@github.com:HarryTheDevOpsGuy/mlog.git"
["msysmon"]="git@github.com:HarryTheDevOpsGuy/msysmon.git"
["mwatcher"]="git@github.com:HarryTheDevOpsGuy/mwatcher.git"
["mweb24x7"]="git@github.com:HarryTheDevOpsGuy/mweb24x7.git"
)
